.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;

    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 25em;
        background-color: white;
        border-radius: 2px;
        padding: .25em 0;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

        .modal-form {
            width: 100%;

            .modal-title {
                display: flex;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 1.4em;
                color: $font-color;
                margin-bottom: .5em;
                height: 50px;
            }

            .modal-content {
                width: 100%;
                box-sizing: border-box;
                padding: 0 1.5em;

                .text-input-container {
                    margin-bottom: 1.5em;

                    & input[type=text] {
                        width: 100%;
                    }
                }
            }
            
            .modal-buttons {
                display: flex;
                justify-content: flex-end;
                padding-right: .5em;
                padding-left: .5em;
                width: 100%;
                box-sizing: border-box;
                height: 50px;

                & button {
                    background: transparent;
                    border: none;
                    text-transform: uppercase;
                    color: $main-color;
                    cursor: pointer;
                    font-size: 1em;
                    font-weight: bold;
                    padding: .5em 1em;

                    &:not(:last-child) {
                        margin-right: .5em;
                    }
                }
            }
        }

        &:focus {
            outline: none;
        }
    }
}