.add-button.add-lift-button {
    background-color: transparent;
    border-radius: 20px;
    border: 1.5px solid $red-accent-color;
    transition: background-color .2s linear;
    color: $red-accent-color;

    &:hover, &:focus {
        background-color: $red-accent-color;
        color: white;
    }
}