swappable-section-group {
    overflow: hidden;
    display: block;

    .swappable-section-wrapper {
        overflow-x: hidden;
        display: inline;

        .swappable-section-container {
            display: flex;
            align-items: flex-start;
            transform: translateX(0px);
            transition: transform 0.5s ease-in-out;

            & [swappable-show-when] {
                width: 100%;
                flex-shrink: 0;

                &.hide-swappable-section {
                    height: 1px;
                    visibility: hidden;
                }
            }
        }
    }
}