<div class="exercise-input-dropdown" ltDropdown [dropdownName]="dropdownIdentifier" >
    <div class="exercise-input-dropdown__most-popular-title">Most popular</div>
    <div class="exercise-input-dropdown__exercise">Bench press</div>
    <div class="exercise-input-dropdown__exercise">Deadlift</div>
    <div class="exercise-input-dropdown__exercise">Squat</div>
    <div class="exercise-input-dropdown__exercise">Overhead press</div>
    <div class="exercise-input-dropdown__exercise">Barbell row</div>
    <!-- <div class="exercise-input-dropdown-loader"></div>
    <div class="exercise-input-row" *ngFor="let exercise of dropdownExercises"></div> -->
  </div>