.tooltip-anchor {
    position: relative;

    .tooltip-container {
        position: absolute;
        bottom: 23px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        text-align: center;

        & .tooltip {
            display: none;
            z-index: 20;
            background-color: rgba(114, 124, 128, 0.9);
            color: white;
            padding: 5px;
            border-radius: 2px;
            font-size: 15px;

            &.show {
                display: inline-block;
            }
        }
    }
}