.navigation-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px $main-color;

    .navigation-group {
        display: inline-block;
    }

    .navigation-main-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}