<div class="lift">
    <button class="lift-option-button">
        <i class="lift-options material-icons">more_vert</i>
    </button>
    <div class="lift-detail-row">
        <span class="lift-name">{{liftCtrl.liftModel.lift}}</span>
    </div>
    <div class="lift-detail-row lift-weight">
        <div class="lift-weight">
            <button class="weight-button weight-down-button icon-button" ng-click="liftCtrl.weightDown()">
                <i class="weight-button-icon material-icons">keyboard_arrow_down</i>
            </button>
            <span class="lift-weight-value">{{liftCtrl.liftModel.weight}}</span>
            <button class="weight-button weight-up-button" ng-click="liftCtrl.weightUp()">
                <i class="weight-button-icon material-icons">keyboard_arrow_up</i>
            </button>
        </div>
    </div>
</div>