.lift {
    font-size: 1.4em;
    color: $font-color;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    padding: 1em;
    position: relative;

    .lift-options-button {
        position: absolute;
        top: 5px;
        right: 2px;
        background-color: transparent;
        color: $font-color;
        border: none;
        cursor: pointer;
    }

    .lift-options-menu {
        width: 125px;
        position: absolute;
        right: -1.75em; // TODO:  Update this on mobile view
        top: 10px;
        z-index: 1;
        border-radius: 2px;
        background: white;
        white-space: nowrap;
        font-size: 1.25em;
        padding: .25em 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        & > .lift-options-row {
            display: flex;
            align-items: center;
            cursor: pointer;
            background: none;
            padding: .25em;
            padding-left: 1em;
            border: none;
            width: 100%;
            font-size: .5em;
            color: $font-color;

            & > .lift-options-icon {
                padding-right: .75em;

                &.delete-lift {
                    color: $accent-color;
                }

                &.data {
                    color: $positive-color;
                }
            }

            & > .lift-options-text {
                font-size: 1.3em;
            }

            &:hover {
                background-color: $white-hover;
            }
        }
    }

    .lift-detail-row {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    .lift-weight {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $font-color;

        .lift-weight-value {
            padding-left: .5em;
            padding-right: .5em;
            width: 40px;
            text-align: center;
        }

        .weight-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 12px;
            transition: background-color .2s linear;
            cursor: pointer;

            &.weight-down-button {
                background-color: white;
                color: $negative-color;
                border: 1.5px solid $negative-color;

                &:hover, &:focus {
                    background-color: $negative-color;
                    color: white;
                }
            }

            &.weight-up-button {
                background-color: white;
                color: $positive-color;
                border: 1.5px solid $positive-color;

                &:hover, &:focus {
                    background-color: $positive-color;
                    color: white;
                }
            }
        }
    }

    &.options-open {

    }

    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}