<nav class="navigation-bar">
  <div class="navigation-logo navigation-group">
      <lt-navigation-item [routerLink]="home">Logo</lt-navigation-item>
  </div>
  <div class="navigation-main-content navigation-group">
      <lt-navigation-item [routerLink]="dashboard">Dashboard</lt-navigation-item>
      <lt-navigation-item [routerLink]="lifts">Lifts</lt-navigation-item>
      <lt-navigation-item [routerLink]="workouts">Workouts</lt-navigation-item>
      <lt-navigation-item [routerLink]="goals">Goals</lt-navigation-item>
  </div>
  <div class="navigation-account navigation-group">
      <lt-navigation-item [routerLink]="home">Account</lt-navigation-item>
  </div>
</nav>
