<nav class="navigation-bar">
    <div class="navigation-logo navigation-group">
        <navigation-item location="home">Logo</navigation-item>
    </div>
    <div class="navigation-main-content navigation-group">
        <navigation-item location="dashboard">Dashboard</navigation-item>
        <navigation-item location="workouts">Workouts</navigation-item>
        <navigation-item location="goals">Goals</navigation-item>
    </div>
    <div class="navigation-account navigation-group">
        <navigation-item location="home">Account</navigation-item>
    </div>
</nav>