<nav class="navigation-bar">
  <div class="navigation-logo navigation-group">
      <lt-navigation-item [routerLinkLocation]="'home'">Logo</lt-navigation-item>
  </div>
  <div class="navigation-main-content navigation-group">
      <lt-navigation-item [routerLinkLocation]="'dashboard'">Dashboard</lt-navigation-item>
      <lt-navigation-item [routerLinkLocation]="'lifts'">Lifts</lt-navigation-item>
      <lt-navigation-item [routerLinkLocation]="'workouts'">Workouts</lt-navigation-item>
      <lt-navigation-item [routerLinkLocation]="'goals'">Goals</lt-navigation-item>
  </div>
  <div class="navigation-account navigation-group">
      <lt-navigation-item [routerLinkLocation]="'home'">Account</lt-navigation-item>
  </div>
</nav>
