.create-first-workout {
    padding: 1em 2em;
    background-color: $main-color;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    .create-first-workout-button {
        display: flex;
        justify-content: center;
        height: 50px;
        background-color: white;
        border-radius: 20px;
        transition: all .2s linear;
        color: $accent-color;
        padding: 10px 20px;
        overflow: hidden;
        border: 2px solid transparent;

        .create-first-workout-button-text {
            font-weight: 700;
            font-size: 1.2em;
            white-space: nowrap;
            margin-right: 10px;
        }

        &:hover, &:focus {
            background-color: $accent-color;
            color: white;
            border: 1.5px solid white;
        }
    }
}