@import '~src/variables.scss';

:host {
    display: block;
    border-bottom: 1px dashed $complement-color-lighter-shade;// TODO:  Make the dashes/dots more separated?  SVG?

    &:last-of-type {
        border: none;
    }
}

.workout-day__wrapper {
    display: flex;
    min-height: 150px;
    align-items: center;
}

.workout-day-left__wrapper {
    position: relative;
    display: flex;
    min-width: 200px;
    align-items: center;
}

h3 {
    padding: 0;
    margin: 0;
    color: $complement-color;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25em;
}

.workout-day__separator {
    margin-left: 1em;
    flex: 1;
    border-bottom: 1px solid $main-color;
}

.workout-day-rest-day-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100%;
}

.workout-rest-day__text {
    font-size: .8em;
}

.workout-rest-day__checkbox {
    margin-left: .5em;
    width: 12px;
    height: 12px;
}

.workout-day-content__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    border-left: 1.5px solid $main-color;
    border-right: 1.5px solid $main-color;
}

.workout-day__content {
    flex: 1;
}

.workout-day__buttons {
    padding: 0 1em;
    border-right: 1px dotted $main-color;

    button {
        display: block;
        background: transparent;
        border: none;
        padding: 5px;
        color: #FF9A47;
        cursor: pointer;
        line-height: 0;  // Make button be only the height of its icon
        outline: none;

        &.workout-day__button--edit {
            color: $secondary-color-3-dark-tint;
        }
    
        &.workout-day__button--quick-options {
            color: $font-color-light;
        }
    
        &.workout-day__button--set-to-rest {
            color: $font-color-light;
        }
    }
}

.workout-day__input-row {
    display: flex;
    align-items: center;
    justify-content: center;

    input[type=number] {
        width: 50px;
    }
}