@import '~src/variables.scss';

$restDayOpenStartWidth: 10px;

:host {
    display: block;
    border-bottom: 1px dashed colors(complement, lighter);// TODO:  Make the dashes/dots more separated?  SVG?

    &:last-of-type {
        border: none;
    }
}

.workout-day__wrapper {
    display: flex;
    align-items: center;
    padding: 1.25em 0;
    box-sizing: border-box;
}

.workout-day-left__wrapper {
    position: relative;
    display: flex;
    min-width: 200px;
    align-items: center;
}

h3 {
    padding: 0;
    margin: 0;
    color: colors(complement, standard);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25em;
}

.workout-day__separator {
    margin-left: 1em;
    flex: 1;
    border-bottom: 1px solid colors(primary, standard);
}

.workout-day-rest-day-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100%;
}

.workout-rest-day__text {
    font-size: .8em;
}

.workout-rest-day__checkbox {
    margin-left: .5em;
    width: 12px;
    height: 12px;
}

.workout-day-content__wrapper {
    display: flex;
    flex: 1;
    text-align: center;
    border-left: 2px solid colors(primary, standard);
    border-right: 2px solid colors(primary, standard);
}


.workout-day__buttons {
    position: relative;
    padding: 0 1em;
    border-right: 1px dotted colors(primary, standard);
    
    .workout-day__button-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: calc(100% / #{miscellaneous(workout-day-button-number)});
    }

    .workout-day__quick-options-dropdown {
        min-width: 125px;
        position: absolute;
        left: 100%;
        z-index: 1;
        border-radius: 2px;
        background: white;
        white-space: nowrap;
        font-size: 1.25em;
        padding: .25em 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        & > .workout-day__quick-options-dropdown-row {
            display: flex;
            align-items: center;
            cursor: pointer;
            background: none;
            padding: .25em 1em;
            border: none;
            width: 100%;
            font-size: .5em;
            color: colors(font, standard);

            & > .workout-day__quick-options-dropdown-icon {
                padding-right: .75em;

                &.workout-day__quick-options-dropdown-rename-icon {
                    color: colors(font, light);
                }

                &.workout-day__quick-options-dropdown-copy-icon {
                    color: colors(green-secondary, standard);
                }
            }

            & > .workout-day__quick-options-dropdown-text {
                font-size: 1.3em;
            }

            &:hover {
                background-color: colors(misc, white-hover);
            }
        }
    }
    
    button {
        display: block;
        background: transparent;
        border: none;
        padding: 5px;
        cursor: pointer;
        line-height: 0;  // Make button be only the height of its icon
        outline: none;
        
        &.workout-day__button--edit {
            color: colors(green-secondary, dark);
        }
        
        &.workout-day__button--quick-options {
            color: colors(font, light);
        }
    
        &.workout-day__button--set-to-rest {
            color: colors(font, light);
        }
    }
}

.workout-day__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.workout-day__content-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-width: 100%;
    visibility: hidden;
}

.workout-day__rest-day-content {
    flex-direction: column;
}

.workout-day__circle-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
}

.workout-day__circle {
    padding: 1%;
    border-radius: 50%;
    transform: translateX(-50%);
}

.workout-day__rest-day-set-active-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: colors(primary, standard);
    border-radius: 3px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    transition: all 150ms ease-in-out;

    &:hover, &:focus {
        background: colors(primary, standard);
        color: white;
    }
}

.workout-day__exercise-input-wrapper {
    $input-padding: 10px;
    $input-border-width: 1px;
    position: relative;
    width: 70%;
    height: 40px;

    label {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        padding: $input-padding;
        box-sizing: border-box;
        color: colors(font, lighter);
        cursor: text;
    }

    input {
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: $input-border-width solid colors(complement, standard);
        padding: $input-padding;
        background: transparent;
        box-sizing: border-box;
        color: colors(font, standard);
    }
}

.workout-day__input-row {
    display: flex;
    align-items: center;
    justify-content: center;
    
    input[type=number] {
        width: 50px;
    }
}
