@import '~src/variables.scss';

:host {
    display: block;
    border-bottom: 1px dashed $complement-color-lighter-shade;// TODO:  Make the dashes/dots more separated?  SVG?

    &:last-of-type {
        border: none;
    }
}

.workout-day__wrapper {
    display: flex;
    min-height: 150px;
    align-items: center;
}

.workout-day-left__wrapper {
    position: relative;
    display: flex;
    min-width: 200px;
    align-items: center;
}

h3 {
    padding: 0;
    margin: 0;
    color: $complement-color;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25em;
}

.workout-day__separator {
    margin-left: 1em;
    flex: 1;
    border-bottom: 1px solid $main-color;
}

.workout-day-rest-day-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 100%;
}

.workout-rest-day__text {
    font-size: .8em;
}

.workout-rest-day__checkbox {
    display: inline-block;
    margin-left: .5em;
    width: 12px;
    height: 12px;
}

.workout-day-content__wrapper {
    flex: 1;
    text-align: center;
    border-left: 1.5px solid $main-color;
    border-right: 1.5px solid $main-color;
}

.workout-day__content {
    display: inline-block;

    button {
        background: transparent;
        border: 1.5px solid $complement-color;
        border-radius: 3px;
        padding: 5px 10px;
        font-family: inherit;
        font-weight: bold;
        color: $complement-color;
        margin-top: 5px;
        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover, &:focus {
            color: white;
            background: $complement-color;
        }
    }
}