<div class="workout-day__wrapper" [formGroup]="workoutDayForm">
  <div class="workout-day-left__wrapper">
    <h3 class="workout-day__title">{{day}}</h3>
    <div class="workout-day__separator"></div>
    <div class="workout-day-rest-day-wrapper">
        <label for="workout-{{day}}-rest__day" class="workout-rest-day__text">Rest day</label>
        <lt-checkbox formControlName="restDay" class="workout-rest-day__checkbox" checkboxId="workout-{{day}}-rest__day"></lt-checkbox>
    </div>
  </div>
  <div class="workout-day-content__wrapper">
    <div class="workout-day__buttons">
      <button type="button" (click)="addExercise()" class="workout-day__button--edit">
        <i class="material-icons">input</i>
      </button>
      <button type="button" (click)="addExercise()" class="workout-day__button--quick-options">
        <i class="material-icons">settings</i>
      </button>
      <button type="button" (click)="addExercise()" class="workout-day__button--set-to-rest">
        <i class="material-icons">hotel</i>
      </button>
    </div>
    <div class="workout-day__content">
      <div *ngIf="!workoutDayForm.controls.exercises.length">You haven't added any exercises to this day yet.</div>
      <!-- <ng-container *ngIf="workoutDayForm.controls.exercises.length" formArrayName="exercises">
        <div *ngFor="let exercise of workoutDayForm.controls.exercises.controls; let i = index" class="workout-day__input-row" [formGroupName]="i">
          <input type="text" formControlName="name" />
          <input type="number" formControlName="sets" />
          <button type="button">Options ></button>
          <button type="button">Add</button>
        </div>
      </ng-container> -->
    </div>
    <!-- <div class="workout-day__buttons">
      <button type="button" (click)="addExercise()">Edit day</button>
    </div> -->
  </div>
</div>