<div class="workout-day__wrapper" [formGroup]="workoutDayForm">
  <div class="workout-day-left__wrapper">
    <h3 class="workout-day__title">{{day}}</h3>
    <div class="workout-day__separator"></div>
    <!-- <div class="workout-day-rest-day-wrapper">
        <label for="workout-{{day}}-rest__day" class="workout-rest-day__text">Rest day</label>
        <lt-checkbox formControlName="restDay" class="workout-rest-day__checkbox" checkboxId="workout-{{day}}-rest__day"></lt-checkbox>
    </div> -->
  </div>
  <div class="workout-day-content__wrapper" [@shrink]="workoutDayForm.controls.restDay.value">
    <div class="workout-day__buttons">
      <div class="workout-day__button-wrapper" @fadeShrinkInOut *ngIf="!workoutDayForm.controls.restDay.value">
        <button type="button" (click)="addExercise()" class="workout-day__button--edit" ltTooltipAnchor tooltipName="{{day}}-edit">
          <i class="material-icons">input</i>
          <lt-tooltip-outlet forTooltip="{{day}}-edit" tooltipDirection="{{TooltipDirection.Right}}" tooltipText="Edit {{day}}'s exercises"></lt-tooltip-outlet>
        </button>
      </div>
      <div class="workout-day__button-wrapper" [@expand]="workoutDayForm.controls.restDay.value">
        <button type="button" (click)="addExercise()" class="workout-day__button--quick-options" ltTooltipAnchor tooltipName="{{day}}-options">
          <i class="material-icons">settings</i>
          <lt-tooltip-outlet forTooltip="{{day}}-options" tooltipDirection="{{TooltipDirection.Right}}" tooltipText="Quick options"></lt-tooltip-outlet>
        </button>
      </div>
      <div class="workout-day__button-wrapper" [@expand]="workoutDayForm.controls.restDay.value">
        <button type="button" (click)="setToRestDay()" class="workout-day__button--set-to-rest" ltTooltipAnchor tooltipName="{{day}}-rest-day">
          <i class="material-icons">hotel</i>
          <lt-tooltip-outlet forTooltip="{{day}}-rest-day" tooltipDirection="{{TooltipDirection.Right}}" tooltipText="Set as rest day"></lt-tooltip-outlet>
        </button>
      </div>
    </div>
    <div class="workout-day__content">
      <div *ngIf="!workoutDayForm.controls.exercises.length">You haven't added any exercises to this day yet.</div>
      <!-- <ng-container *ngIf="workoutDayForm.controls.exercises.length" formArrayName="exercises">
        <div *ngFor="let exercise of workoutDayForm.controls.exercises.controls; let i = index" class="workout-day__input-row" [formGroupName]="i">
          <input type="text" formControlName="name" />
          <input type="number" formControlName="sets" />
          <button type="button">Options ></button>
          <button type="button">Add</button>
        </div>
      </ng-container> -->
      <!-- [@circleExpand] *ngIf="workoutDayForm.controls.restDay.value" -->
      <div class="workout-day__rest-day-content" [@positionCircle]="workoutDayForm.controls.restDay.value">
        <div class="workout-day__rest-day-circle" [@circleExpand]="workoutDayForm.controls.restDay.value"></div>
      </div>
    </div>
  </div>
</div>