@import '~src/variables.scss';

.add-button.add-lift-button {
    background-color: transparent;
    border-radius: 20px;
    border: 1.5px solid colors(red-secondary, standard);
    transition: background-color .2s linear;
    color: colors(red-secondary, standard);
    height: 50px;

    &:hover, &:focus {
        background-color: colors(red-secondary, standard);
        color: white;
    }
}