.add-lift {
    .add-lift-form {
        display: flex;
        align-items: center;

        input {
            font-family: 'Open Sans', sans-serif;
        }

        input, label {
            font-size: 1.8em;
            color: $font-color;
        }

        .lift-choice {
            flex: 3;

            .add-lift-input {
                display: block;
                width: 97%;
            }
        }

        .weight-choice {
            flex: 1;
        }

        .add-weight-button {
            background-color: white;
            border-radius: 20px;
            border: 1.5px solid $accent-color;
            transition: background-color .2s linear;

            & > .icon-button-icon {
                transition: transform .2s linear;
            }

            & path {
                fill: $accent-color;
            }

            &:hover, &:focus {
                background-color: $accent-color;

                & > .icon-button-icon {
                    transform: rotate(90deg);
                }

                & path {
                    fill: white;
                }
            }
        }
    }
}