.add-lift {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid $font-color;

    .add-lift-form {
        display: flex;
        align-items: center;

        .add-lift-input-container {
            padding-right: 15px;

            &.lift-choice {
                flex: 8;
            }

            &.weight-choice {
                flex: 2;
            }

            &.sets-choice, &.reps-choice {
                flex: 1;
            }

            & > input[type=text] {
                display: block;
                width: 100%;
            }
        }

        .add-weight-button {
            background-color: white;
            border-radius: 20px;
            border: 1.5px solid $accent-color;
            transition: background-color .2s linear;

            & > .icon-button-icon {
                transition: transform .2s linear;
            }

            & path {
                fill: $accent-color;
            }

            &:hover, &:focus {
                background-color: $accent-color;

                & > .icon-button-icon {
                    transform: rotate(90deg);
                }

                & path {
                    fill: white;
                }
            }
        }
    }
}