<div class="add-lift">
    <form name="addLiftWeightCtrl.addLiftForm" ng-submit="addLiftWeightCtrl.submitForm()" class="add-lift-form" autocomplete="off" novalidate>
        <div class="lift-choice text-input-container add-lift-input-container">
            <input type="text" name="addLiftWeightCtrl.addLiftForm.lift" ng-model="addLiftWeightCtrl.addLiftForm.lift" id="lift-input" class="lift-input" required />
            <label for="lift-input" class="add-lift-input-label">Add a lift</label>
        </div>
        <div class="weight-choice text-input-container add-lift-input-container">
            <input type="text" name="addLiftWeightCtrl.addLiftForm.weight" ng-model="addLiftWeightCtrl.addLiftForm.weight" id="weight-input" class="weight-input" required />
            <label for="weight-input">Weight</label>
        </div>
        <div class="sets-choice text-input-container add-lift-input-container">
            <input type="text" name="addLiftWeightCtrl.addLiftForm.sets" ng-model="addLiftWeightCtrl.addLiftForm.sets" id="sets-input" class="sets-input" required />
            <label for="sets-input">Sets</label>
        </div>
        <div class="reps-choice text-input-container add-lift-input-container">
            <input type="text" name="addLiftWeightCtrl.addLiftForm.reps" ng-model="addLiftWeightCtrl.addLiftForm.reps" id="reps-input" class="reps-input" required />
            <label for="reps-input">Reps</label>
        </div>
        <button class="add-button icon-button add-weight-button">
            <div class="icon-button-icon" ng-include="'assets/icons/plus.svg'"></div>
        </button>
    </form>
</div>