<div class="add-lift">
    <form name="addLiftWeightCtrl.addLiftForm" ng-submit="addLiftWeightCtrl.submitForm()" class="add-lift-form" autocomplete="off" novalidate>
        <div class="lift-choice">
            <label for="lift-choice-input">Add a lift:</label>
            <input type="text" name="addLiftWeightCtrl.addLiftForm.lift" ng-model="addLiftWeightCtrl.addLiftForm.lift" id="lift-choice-input" class="add-lift-input" required />
        </div>
        <div class="weight-choice">
            <label for="set-weight-input">Lift weight:</label>
            <input type="text" name="addLiftWeightCtrl.addLiftForm.weight" ng-model="addLiftWeightCtrl.addLiftForm.weight" id="set-weight-input" class="add-lift-input" required />
        </div>
        <button class="add-button icon-button add-weight-button">
            <div class="icon-button-icon" ng-include="'assets/icons/plus.svg'"></div>
        </button>
    </form>
</div>