.create-first-workout {
    padding: 1em 2em;
    background-color: $main-color;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

    .create-first-workout-button {
        display: flex;
        justify-content: center;
        height: 50px;
        background-color: white;
        border-radius: 20px;
        transition: all .2s linear;
        padding: 10px 20px;
        overflow: hidden;

        .create-first-workout-button-text {
            font-weight: 700;
            font-size: 1.2em;
            color: $accent-color;
            white-space: nowrap;
            margin-right: 10px;
        }

        .icon-button-icon {
            transition: transform .2s linear;
            
            & path {
                fill: $accent-color;
            }
        }

        &:hover, &:focus {
            background-color: $accent-color;

            .create-first-workout-button-text {
                color: white;
            }

            .icon-button-icon {
                transform: rotate(90deg);
            }

            & path {
                fill: white;
            }
        }
    }
}