.checkbox {
    .checkbox-label {
        display: block;
        box-sizing: border-box;
        position: relative;
        width: 16px;
        height: 16px;
        border: 1.5px solid $font-color;
        border-radius: 1.5px;
        margin-right: .5em;
        cursor: pointer;
        transition: background-color .2s ease-in-out, border-color .2s ease-in-out;

        & .check-icon {
            position: absolute;
            top: 0;
            left: 0;
            stroke: white;
            stroke-dasharray: 130px, 130px;
            stroke-dashoffset: 130px;
            transition: stroke-dashoffset .3s ease-in-out;
        }
    }

    input[type=checkbox] ~ .checkbox-label {
        & > .checkbox-circle-radiate {
            position: absolute;
            display: block;
            height: 16px;
            width: 16px;
            border-radius: 100px;
            transition: all .2s ease;
            top: -1px;
            left: -1px;
            opacity: 0.2;
        }
    }

    input[type=checkbox]:hover ~ .checkbox-label, input[type=checkbox]:focus ~ .checkbox-label {
        & > .checkbox-circle-radiate {
            background-color: $font-color;
            height: 40px;
            width: 40px;
            left: -12px;
            top: -12px;
        }
    }

    input[type=checkbox]:checked ~ .checkbox-label {
        background-color: $main-color;
        border-color: $main-color;

        & .check-icon {
            stroke-dashoffset: 0;
        }
    }

    input[type=checkbox]:checked:hover ~ .checkbox-label, input[type=checkbox]:checked:focus ~ .checkbox-label {
        & > .checkbox-circle-radiate {
            background-color: $main-color;
        }
    }

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
}