@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    h2 {
        color: $font-color;
        margin-top: 3em;
        font-family: 'Open Sans', sans-serif;
        font-size: 2em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: normal;
        border-top: solid 1px $main-color;
    }

    input[type=text]:focus, input[type=textarea]:focus, input[type=number]:focus {
        outline: none;
    }

    
    .content-area {
        padding-top: 4em;
        padding-bottom: 4em;
        display: flex;
        justify-content: center;

        .main-content {
            width: 70%;
        }
    }

    /* The CSS that handles input/label styling for text inputs */
    .text-input-container {
        $input-padding-bottom: .3em;
        position: relative;

        & > label {
            position: absolute;
            bottom: $input-padding-bottom;
            transition: all .1s ease;
            cursor: text;
        }

        & > input[type=text] {
            position: relative;
            padding-bottom: $input-padding-bottom;
            border: none;
            border-bottom: 1px solid $font-color;
            padding-top: .5em;
            color: $font-color;

            &:hover {
                border-color: $main-color-hover;
            }

            &:focus {
                border-color: $main-color-hover;

                & ~ label {
                    bottom: 100%;
                    font-size: 1.5em;
                }
            }
        }
    }

    /* The CSS that handles buttons that have SVG icons as their content */
    .icon-button {
        border: 0;
        cursor: pointer;

        &.add-button {
            width: 50px;
            height: 50px;
        }

        & > .icon-button-icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}