html {
    width: 100%;
    height: 100%;
    
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        position: relative;

        h2 {
            color: $font-color;
            font-family: 'Open Sans', sans-serif;
            font-size: 2em;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-weight: normal;
        }

        input[type=text]:focus, input[type=textarea]:focus, input[type=number]:focus, select:focus {
            outline: none;
        }
        
        .content-area {
            padding-top: 3em;
            padding-bottom: 3em;
            display: flex;
            justify-content: center;

            .main-content {
                width: 70%;
            }
        }

        /* The CSS that handles the required box for forms */
        .required-indicator {
            font-family: 'Open Sans', sans-serif;
            color: $font-color;
        }

        /* The CSS that handles text inputs */
        input[type=text] {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2em;
            color: $input-color;
        }

        /* The CSS that handles label styling */
        label, .input-group-label {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2em;
        }

        /* The CSS that handles select styling for select boxes */
        select {
            border: none;
            font-size: 1em;
            color: $font-color;
            border-bottom: 1px solid $light-font-color;

            &:hover, &:focus {
                border-color: $main-color-hover;
            }
        }

        /* The CSS that handles input/label styling for text inputs */
        .text-input-container {
            $input-padding-bottom: .3em;
            position: relative;
            box-sizing: border-box;
            padding-top: $input-top-padding;

            & > label {
                position: absolute;
                bottom: $input-padding-bottom;
                left: 0;
                transition: all .2s ease;
                cursor: text;
                color: $lighter-font-color;
            }

            & > input[type=text] {
                position: relative;
                padding-bottom: $input-padding-bottom;
                border: none;
                border-bottom: 1px solid $light-font-color;
                margin-top: .2em;

                &:hover {
                    border-color: $main-color-hover;
                }

                &:focus, &.ng-not-empty {
                    border-color: $main-color-hover;

                    & ~ label {
                        bottom: calc(100% - 1em - 2px);
                        font-size: 1em;
                        color: $main-color-hover;
                    }
                }
            }
        }

        /* The CSS that handles toggles */
        .toggle-input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* The CSS that handles checkboxes */
        .checkbox-input-container {
            display: flex;
            align-items: center;
        }

        /* The CSS that handles an add button */
        .add-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: all .2s linear;
            padding: 10px 20px;
            overflow: hidden;
            border: 2px solid transparent;
            cursor: pointer;

            & > .add-button-text {
                font-weight: 700;
                font-size: 1.2em;
                white-space: nowrap;
                margin-right: 10px;
            }

            & > .add-button-icon {
                transition: transform .2s linear;
                height: 24px; // The icons will be 24px based on the material standard
                margin-top: -1px; // The plus icon is slightly off in terms of vertical centering

                & > .material-icons {
                    font-weight: bold;
                }
            }

            &:hover, &:focus {
                & > .add-button-icon {
                    transform: rotate(90deg);
                }
            }
        }

        /* Form errors */
        .form-error {
            visibility: hidden;
            font-size: 13px;
            margin-top: 2px;
            min-height: $input-error-hint-height;
            color: $red-accent-color;
            font-family: 'Open Sans', sans-serif;
        }

        .has-error {
            input[type=text] {
                border-color: #E17055 !important;
            }

            label {
                color: #E17055 !important;
            }

            & > .form-error {
                visibility: visible;
            }
        }
    }
}