@import url('https://fonts.googleapis.com/css?family=Open+Sans|Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    h2 {
        color: $font-color;
        margin-top: 3em;
        font-family: 'Open Sans', sans-serif;
        font-size: 2em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: normal;
        border-top: solid 1px $main-color;
    }

    input[type=text]:focus, input[type=textarea]:focus, input[type=number]:focus {
        outline: none;
    }

    .content-area {
        padding-top: 4em;
        padding-bottom: 4em;
        display: flex;
        justify-content: center;

        .main-content {
            width: 70%;
        }
    }

    .add-button {
        width: 50px;
        height: 50px;
        background-color: $accent-color;
        color: white;
        border: 0;
        border-radius: 10px;
        font-size: 2em;
        cursor: pointer;

        &:hover, &:focus {
            background-color: $accent-color-hover;
        }
    }
}