.add-lift-modal {
    .set-type-choice {
        .straight-set-choice {
            display: flex;
            align-items:center;
        }

        .straight-set-info {
            display: flex;
            align-items: center;
            margin-left: .5em;
            border: none;
            padding: 0;
            background-color: transparent;

            .straight-set-info-icon {
                color: $light-font-color;
                font-size: 18px;
                cursor: pointer;
                transition: color .2s ease-in-out;

                &:hover, &:focus {
                    color: $main-color-hover;
                }
            }
        }
    }

    .reps-choice {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 1.5em;
            color: $font-color;
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}