.add-lift-modal {
    .reps-choice {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 1.5em;
            color: $font-color;
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}