.navigation-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1.5em;
    height: $nav-bar-height;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: $font-color;

    &, &:visited {
        color: $main-color;

        &.active {
            $bottom-border-offset: 2px;

            border-bottom: $bottom-border-offset solid $main-color-hover;
            padding-top: $bottom-border-offset;  // Offset the border added when a nav item is active
        }
    }

    &:active, &:hover {
        color: $main-color-hover;
    }
}