<div class="lift" has-dropdown>
  <button class="lift-options-button" dropdown-button>
      <i class="lift-options material-icons">more_vert</i>
  </button>
  <div class="lift-options-menu ng-hide" dropdown-menu>
      <button class="lift-options-row">
          <i class="lift-options-icon data material-icons">timeline</i>
          <span class="lift-options-text">Data</span>
      </button>
      <button class="lift-options-row" ng-click="liftCtrl.remove()">
          <i class="lift-options-icon delete-lift material-icons">delete</i>
          <span class="lift-options-text">Delete</span>
      </button>
  </div>
  <div class="lift-detail-row">
      <span class="lift-name">{{liftCtrl.liftModel.lift}}</span>
  </div>
  <div class="lift-detail-row lift-weight">
      <div class="lift-weight">
          <button class="weight-button weight-down-button icon-button" ng-click="liftCtrl.weightDown()">
              <i class="weight-button-icon material-icons">keyboard_arrow_down</i>
          </button>
          <span class="lift-weight-value">{{liftCtrl.liftModel.weight}}</span>
          <button class="weight-button weight-up-button" ng-click="liftCtrl.weightUp()">
              <i class="weight-button-icon material-icons">keyboard_arrow_up</i>
          </button>
      </div>
  </div>
</div>