@import "~src/variables.scss";

$workout-content-padding: 2em;

:host {
    display: flex;
    width: 100%;
    height: 100%;
}

.track-workout-steps {
    display: block;
    width: 100%;
    height: 100%;
}

.track-workouts-step-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.track-workouts-content-wrapper {
    padding: $workout-content-padding;
}

.track-workout-step__number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em;
    background: $complement-color;
    border-radius: 100px;
    color: white;
    width: 40px;
    height: 40px;
    font-weight: bold;
    box-sizing: border-box;
}

.track-workout-step__title {
    display: inline-block;
    color: $complement-color;
    font-weight: bold;
    font-size: 1.25em;
    margin-left: 1em;
}

.track-workout-step__subtitle {
    display: inline-block;
    color: #FF9A47;
    font-size: 1.25em;
    margin-left: 0.5em;
}

.track-workout-step__description {
    color: $font-color;
    line-height: 1.5;
}

.workouts-page-content--no-workouts {
    text-align: center;
    flex-direction: column;
}

.no-workouts-text {
    color: $font-color;
    font-size: 1.25em;
}

.no-workouts-button {
    background: $main-color;
    border: 1.5px solid $main-color;
    padding: 10px 20px;
    border-radius: 3px;
    font-family: inherit;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 1em;
    transition: all .1s ease-in-out;

    &:hover, &:focus {
        background: white;
        color: $main-color;
    }
}

.track-workout-main-input-wrapper {
    $input-padding: 10px;
    $input-border-width: 1.5px;
    position: relative;
    margin-top: 4em;
    width: 100%;
    height: 65px;

    label {
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        padding: calc(#{$input-padding + $input-border-width});
        box-sizing: border-box;
        color: $font-color-lighter;
        cursor: text;
    }

    input {
        width: 100%;
        height: 100%;
        border: $input-border-width solid $complement-color;
        border-radius: 5px;
        padding: $input-padding;
        box-sizing: border-box;
        color: $font-color;
    }
}

.track-workout-cadence-wrapper {
    margin-top: 0.5em;

    .track-workout-cadence {
        display: inline-block;
        margin-left: 1em;
        width: 16px;
        height: 16px;
    }
}

.track-workout-weekly-wrapper {
    margin-top: 2em;
}

.track-workout-buttons {
    padding: 0.75em 1.5em;
    border-top: 1px solid $complement-color-lighter-shade;
    background: $complement-color-lightest-shade;
    overflow: hidden; // Fixes a visual bug where the scrollbar appears briefly on animation-in and -out of the buttons
    flex-shrink: 0;   // Fixes a visual bug where the scrollbar appears briefly on animation-in and -out of the buttons

    .track-workout-button {
        background: transparent;
        border: none;
        font-family: inherit;
        font-weight: bold;
        padding: 10px 20px;
        background: $complement-color;
        border: 1.5px solid $complement-color;
        border-radius: 3px;
        color: white;
        cursor: pointer;
        transition: all .1s ease-in-out;

        &:hover, &:focus {
            background: white;
            color: $complement-color;
        }

        &.track-workout-button--back {
            background: white;
            border-color: $complement-color;
            color: $complement-color;

            &:hover, &:focus {
                color: white;
                background: $complement-color
            }
        }

        &.track-workout-button--forward {
            float: right; // Because buttons apparently can't be the height of their content when they're flex-items :(
        }
    }
}