<div class="page-section__wrapper page-title-content__wrapper">
    <div class="page-title-content">
        <h1>Workouts</h1>
        <div class="page-title-content__info">
            <div class="page-title-content__info-section">
                <button type="button" ltOpenModal modalName="add-workout">Track</button>
                <span> a new workout</span>
            </div>
            <div class="page-title-content__info-section">
                <button type="button">View</button>
                <span> historical workouts</span>
            </div>
        </div>
    </div>
</div>
<form [formGroup]="trackWorkoutForm">
    <lt-step-group [stepIdentifier]="trackWorkoutStepsIdentifier" class="track-workout-steps">
        <lt-step>
            <div class="page-section__wrapper page-content workouts-page-content--no-workouts">
                <div class="no-workouts-text">You haven't added any workouts to track yet.</div>
                <button type="button" class="no-workouts-button" ltNextStep [forStepGroup]="trackWorkoutStepsIdentifier">Track a workout</button>
            </div>
        </lt-step>
        <lt-step>
            <div class="track-workouts-step-wrapper">
                <div class="track-workouts-content-wrapper">
                    <div class="track-workout-step__number">1</div>
                    <h2 class="track-workout-step__title">Let's find your workout</h2>
                    <div class="track-workout-step__description">This will be quick! You can add and modify a workout from our database or create your own custom workout from scratch.</div>
                    <div class="track-workout-main-input-wrapper">
                        <label for="track-workout-main-input" *ngIf="!trackWorkoutForm.value.workoutName">starting strength</label>
                        <input type="text" formControlName="workoutName" class="track-workout-main-input" id="track-workout-main-input" />
                    </div>
                    <div class="track-workout-cadence-wrapper">
                        <label for="track-workout-cadence" class="track-workout-cadence-text">The workout repeats weekly</label>
                        <lt-checkbox formControlName="workoutCadenceWeekly" class="track-workout-cadence" checkboxId="track-workout-cadence"></lt-checkbox>
                    </div>
                </div>
                <div class="track-workout-buttons">
                    <span><button type="button" class="track-workout-button track-workout-button--back" ltPreviousStep [forStepGroup]="trackWorkoutStepsIdentifier">Back</button></span>
                    <span><button type="button" class="track-workout-button track-workout-button--forward" *ngIf="trackWorkoutForm.controls.workoutName.value" [@slideUpDown] ltNextStep [forStepGroup]="trackWorkoutStepsIdentifier">Add exercises</button></span>
                </div>
            </div>
        </lt-step>
        <lt-step>
            <div class="track-workouts-step-wrapper">
                <div class="track-workouts-content-wrapper">
                    <div class="track-workout-step__number">2</div>
                    <h2 class="track-workout-step__title">Configure your exercise days</h2>
                    <div class="track-workout-step__description">Add your exercises on the days that you want them and get tracking today.</div>
                    <div class="track-workout-weekly-wrapper" *ngIf="trackWorkoutForm.value.workoutCadenceWeekly">
                        <lt-workout-day day="Monday"></lt-workout-day>
                        <lt-workout-day day="Tuesday"></lt-workout-day>
                        <lt-workout-day day="Wednesday"></lt-workout-day>
                        <lt-workout-day day="Thursday"></lt-workout-day>
                        <lt-workout-day day="Friday"></lt-workout-day>
                        <lt-workout-day day="Saturday"></lt-workout-day>
                        <lt-workout-day day="Sunday"></lt-workout-day>
                    </div>
                    <div class="track-workout-non-weekly-wrapper" *ngIf="!trackWorkoutForm.value.workoutCadenceWeekly">
                        also test
                    </div>
                </div>
                <div class="track-workout-buttons">
                    <button type="button" class="track-workout-button track-workout-button--back" ltPreviousStep [forStepGroup]="trackWorkoutStepsIdentifier">Back</button>
                    <button type="button" class="track-workout-button track-workout-button--forward" [@slideUpDown] ltNextStep [forStepGroup]="trackWorkoutStepsIdentifier">Add exercises</button>
                </div>
            </div>
        </lt-step>
    </lt-step-group>
</form>
