<div class="page-title-content__wrapper">
    <div class="page-title-content">
        <h1>Workouts</h1>
        <div class="page-title-content__info">
            <div class="page-title-content__info-section">
                <button type="button" ltOpenModal modalName="add-workout">Track</button>
                <span> a new workout</span>
            </div>
            <div class="page-title-content__info-section">
                <button type="button">View</button>
                <span> historical workouts</span>
            </div>
        </div>
    </div>
</div>
