.add-lift {
    .add-lift-form {
        display: flex;
        align-items: center;

        .add-lift-input-container {
            padding-right: 15px;

            &.lift-choice {
                flex: 8;
            }

            &.weight-choice {
                flex: 2;
            }

            &.sets-choice, &.reps-choice {
                flex: 1;
            }

            & > input[type=text] {
                display: block;
                width: 100%;
            }
        }

        .add-lift-button {
            background-color: white;
            border-radius: 20px;
            border: 1.5px solid $accent-color;
            transition: background-color .2s linear;
            color: $accent-color;

            &:hover, &:focus {
                background-color: $accent-color;
                color: white;
            }
        }
    }
}