@import '~src/variables.scss';
@import '~src/fonts.scss';

html {
    width: 100%;
    height: 100%;
    
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        position: relative;

        h1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 2.25em;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: normal;
            margin: 0;
            margin-bottom: 1em;
        }

        input[type=text]:focus, input[type=textarea]:focus, input[type=number]:focus, select:focus {
            outline: none;
        }

        .content-area {
            width: 100%;
            height: calc(100% - #{$nav-bar-height});
        }

        .main-content {
            width: 100%;
            height: 100%;
        }

        /* The CSS that handles the required box for forms */
        .required-indicator {
            font-family: 'Open Sans', sans-serif;
            color: $font-color;
        }

        /* The CSS that handles text inputs */
        input[type=text] {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2em;
            color: $input-color;
        }

        /* The CSS that handles label styling */
        label, .input-group-label {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2em;
            color: $font-color;
        }

        /* The CSS that handles select styling for select boxes */
        select {
            border: none;
            font-size: 1em;
            color: $font-color;
            border-bottom: 1px solid $font-color-light;

            &:hover, &:focus {
                border-color: $main-color-lighter-shade;
            }
        }

        /* The CSS that handles input/label styling for text inputs */
        .text-input-container {
            $input-padding-bottom: .3em;
            position: relative;
            box-sizing: border-box;
            padding-top: $input-top-padding;

            & > label {
                position: absolute;
                bottom: $input-padding-bottom;
                left: 0;
                transition: all .2s ease;
                cursor: text;
                color: $font-color-lighter;
            }

            & > input[type=text] {
                position: relative;
                padding-bottom: $input-padding-bottom;
                border: none;
                border-bottom: 1px solid $font-color-light;
                margin-top: .2em;

                &:hover {
                    border-color: $main-color-lighter-shade;
                }

                &:focus, &.ng-not-empty {
                    border-color: $main-color-lighter-shade;

                    & ~ label {
                        bottom: calc(100% - 1em - 2px);
                        font-size: 1em;
                        color: $main-color-lighter-shade;
                    }
                }
            }
        }

        /* The CSS that handles toggles */
        .toggle-input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /* The CSS that handles checkboxes */
        .checkbox-input-container {
            display: flex;
            align-items: center;
        }

        /* The CSS that handles an add button */
        .add-button {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            transition: all .2s linear;
            padding: 10px 20px;
            overflow: hidden;
            border: 2px solid transparent;
            cursor: pointer;

            & > .add-button-text {
                font-weight: 700;
                font-size: 1.2em;
                white-space: nowrap;
                margin-right: 10px;
            }

            & > .add-button-icon {
                transition: transform .2s linear;
                height: 24px; // The icons will be 24px based on the material standard
                margin-top: -1px; // The plus icon is slightly off in terms of vertical centering

                & > .material-icons {
                    font-weight: bold;
                }
            }

            &:hover, &:focus {
                & > .add-button-icon {
                    transform: rotate(90deg);
                }
            }
        }

        /* The section on the left of a page */
        .page-title-content__wrapper {
            width: 30%;
            background: $main-color;
            color: white;
            flex-shrink: 0;

            .page-title-content__info-section {
                margin-bottom: 10px;

                button {
                    background: transparent;
                    border: none;
                    color: white;
                    font-family: inherit;
                    font-size: inherit;
                    cursor: pointer;
                    padding: 5px 10px;
                    border: 1.5px solid white;
                    border-radius: 3px;
                    transition: all .1s ease-in-out;

                    &:hover, &:focus {
                        background: white;
                        color: $main-color;
                    }
                }
            }
        }

        .page-section__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        /* The section on the right of a page */
        .page-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
        }

        /* Form errors */
        .form-error {
            visibility: hidden;
            font-size: 13px;
            margin-top: 2px;
            min-height: $input-error-hint-height;
            color: $secondary-color-2;
            font-family: 'Open Sans', sans-serif;
        }

        .has-error {
            input[type=text] {
                border-color: #E17055 !important;
            }

            label {
                color: #E17055 !important;
            }

            & > .form-error {
                visibility: visible;
            }
        }
    }
}