$colors: (
    primary: (
        standard: #33b7b7,
        lighter: #87E1E1,
        light: #56CCCC,
        dark: #15A5A5,
        darker: #008585
    ),
    complement: (
        standard: #FF9A47,
        lightest: #FFEADA,
        lighter: #FFC799,
        light: #FFAE6C,
        dark: #FF8521,
        darker: #DE6500
    ),
    yellow-secondary: (
        standard: #FFC247,
        lighter: #FFDD99,
        light: #FFCE6C,
        dark: #FFB521,
        darker: #DE9400
    ),
    red-secondary: (
        standard: #FF4747,
        lighter: #FF9999,
        light: #FF6C6C,
        dark: #FF2121,
        darker: #DE0000
    ),
    green-secondary: (
        standard: #55E16D,
        lighter: #B0F7BD,
        light: #7DED90,
        dark: #34D450,
        darker: #11C631
    ),
    font: (
        standard: #727c80,
        light: #AAB0B2,
        lighter: #C6CACC,
        input: #4F5659
    ),
    misc: (
        white-hover: #EFEFEF
    )
);

$sizes: (
    nav-bar-height: 60px,
    input-top-padding: 14px,
    input-error-hint-height: 18px,
    page-title-content-width: 30%
);

$miscellaneous: (
    workout-day-button-number: 3
);

@function sizes($size) {
    @return map-get($sizes, $size);
}

@function colors($color-name, $color-variant) {
    @return map-get(map-get($colors, $color-name), $color-variant);
}

@function miscellaneous($item) {
    @return map-get($miscellaneous, $item);
}