$main-color: #33B7B7;
$main-color-hover: #4CD1D1;
$main-color-accent: #a7e0e0;
$red-accent-color: #E17055;
$red-accent-color-hover: #CA644C;
$font-color: #727c80;
$light-font-color: #AAB0B2;
$lighter-font-color: #C6CACC;
$input-color: #4F5659;
$green-accent-color: #55E170;
$green-accent-color-hover: #4CCA64;
$blue-accent-color: #55C6E1;
$blue-accent-color-hover: #4CB2CA;
$white-hover: #EFEFEF;

$nav-bar-height: 60px;
$input-top-padding: 14px;
$input-error-hint-height: 18px;